VERCEL_PROJECT_ID=replace_me
VERCEL_TEAM_ID=replace_me
NEXT_PUBLIC_APP_URL=https://stg.shupass.jp
BETTER_AUTH_URL=https://stg.shupass.jp
BETTER_AUTH_TRUSTED_ORIGINS=https://stg.shupass.jp
FASTAPI_URL=https://stg-api.shupass.jp
BACKEND_URL=https://stg-api.shupass.jp
