GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
VERCEL_STAGING_PROJECT_ID=replace_me
VERCEL_STAGING_TEAM_ID=replace_me
VERCEL_PRODUCTION_PROJECT_ID=replace_me
VERCEL_PRODUCTION_TEAM_ID=replace_me
